body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.code-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.code {
  color: #38bdf8;
  font-size: 18px;
  font-weight: bold;
}

.level {
  font-size: 14px;
  color: #cbd5f5;
}

footer {
  background: #020617;
  text-align: center;
  padding: 15px;
}
